<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Minecraft Server Manager - Console</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="index.js" defer></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="consolePage">
        <h1> Minecraft Server Panel</h1>
        <div id="versionControl">
            Version Control
            
        </div>

        <div id="serverControl">
            <button v-on:click="startServer">Start Server</button>
            <button v-on:click="stopServer">Stop Server</button>
        </div>

        <div id="console">
            <div class="logMessage" v-for="log in logs">
                <span id="console-header"> console></span> {{ log }}
            </div>
        </div>
        <input type="text" v-model="currentCommand" v-on:keyup="submitCommandOnEnter">
        <button v-on:click="submitCommand">submit command</button>
    </div>
</body>

</html>